@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #252525;
    color: aliceblue;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.wrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    border-radius: 15px;
}

.btn {
    background-color: #252525;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-family: Gilroy-Bold;
    cursor: pointer;
    size: 80px;
}

.wrapper div {
    text-align: center;
}

.text {
    color: #252525;
    font-family: Gilroy-Bold;
}

.tester {
    font-size: 20px;
    font-family: Gilroy-Bold;
}

.border {
    border: 10px solid red;
    width: 80%;
    height: 80vh;
    position: relative;
    border-radius: 15px;
}

.img {
    position: absolute;
    width: 800px;
    height: 650px;
    left: -140%;
    top: -110%;
    display: none;
}
